:root {
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Poppins", sans-serif;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
  border: 1px solid orange;
  color: white;
  height: 10vh;
}

.logo {
  font-style: italic;
  font-size: 2.8rem;
  font-weight: 900;
  letter-spacing: 0.6;
}

a {
  text-decoration: inherit;
  color: white;
  font-size: 1.6rem;
}
