.Services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  
  gap: 0px;
  color: #fff;
}

.cont-two {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24%;
}
